{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Muisc Blog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" href='{% static "css/vendor.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div>
                    <a class="logo" href="index.html">
                        <img src="{% static 'images/logo_2.png' %}" width="400" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->


                <a class="header__search-trigger" href="#0"></a>
                <div class="header__search">

                    


                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                    
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class=><a href="{% url 'home' %}" title="">Inicio</a></li>
                        <li class=><a href="{% url 'view_posts' %}" title="">Ver Posteos</a></li>
                        <li class=><a href="{% url 'about' %}" title="">Acerca de</a></li>
                        {% if user.is_authenticated %}
                            <li class=><a href="{% url 'all_messages' %}"title="">Mensajes</a></li>
                            <li><a href="{% url 'logout' %}" title="">Logout</a></li>
                            <li><a href="{% url 'profile' %}" title="">{{ user.get_username }}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}" title="">Login</a></li>
                            <li><a href="{% url 'register' %}" title="">Register</a></li>
                        {% endif %}
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->   
    </section> <!-- end s-pageheader -->


    {% block padre %}
        
    {% endblock %}




    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Links</h4>

                    <ul class="s-footer__linklist">
                        <li class=><a href="{% url 'home' %}" title="">Inicio</a></li>
                        <li class=><a href="{% url 'view_posts' %}" title="">Ver Posteos</a></li>
                        <li class=><a href="{% url 'about' %}" title="">Acerca de</a></li>
                        {% if user.is_authenticated %}
                            <li class=><a href="{% url 'all_messages' %}"title="">Mensajes</a></li>
                            <li><a href="{% url 'logout' %}" title="">Logout</a></li>
                            <li><a href="{% url 'profile' %}" title="">{{ user.get_username }}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}" title="">Login</a></li>
                            <li><a href="{% url 'register' %}" title="">Register</a></li>
                        {% endif %}
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

     

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Sobre Music Blog</h4>

                    <p>Music Blog es un sitio web tipo blog en donde se pueden leer noticias sobre la industria de la musica. Esta pagina fue creada por Tomas Capdevila en diciembre de 2022 como proyecto final para el curso de programacion de python de Coderhouse.</p>

                   

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Philosophy 2018</span> 
                        <span>Site Template by <a href="https://colorlib.com/">Colorlib</a> Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a> Modified by Tomas Capdevila December 2022</span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>