<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2><a href="{% url 'new_message' %}">Redactar nuevo mensaje</a></h2>

    <h1>Bandeja de entrada:</h1>

    {% for mensaje in for_me %}
    <p>
        <a href="/messages/chat/{{ mensaje.id }}">{{ mensaje }} | {{ mensaje.is_seen }}</a>
    </p>
    {% endfor %}


    <h1>Enviados:</h1>
    
    {% for mensaje in from_me %}
    <p>
        <a href="/messages/chat/{{ mensaje.id }}">{{ mensaje }} | {{ mensaje.is_seen }}</a>
    </p>
    {% endfor %}




</body>
</html>